.title {
  font-size: 1.5rem;
  text-align: center;
  font-family: sans-serif
}
.dragme {
  position: absolute;
  cursor: move;
  width: 7cm;
}
.draggable {
  background-color: #ccc;
  border: 1px solid #000;
  max-width: 100%;  /* Makes the images responsive */
  height: auto;     /* Maintains the aspect ratio */
}
.container {
  display: flex;              /* Use flexbox to arrange items */
  flex-wrap: wrap;            /* Allow images to wrap to the next line if they exceed the width */
  align-items: center;        /* Vertically center the items (images) */
  justify-content: center;    /* Horizontally center the images */
  padding: 50px;
  gap: 10px;                  /* Add space between the images */
}
.linkContainer {
    padding: 50px;
    text-align: right;
}
.linkContainer.inicio {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
}
